<!DOCTYPE html>
<html>

<head>
    <%- include('../../partials/html_head', {title: 'Home' }); %>
</head>

<body>
    <!-- [ sidenav ] -->
    <%- include('../../partials/sidenav'); %>

        <!-- [ main content ] -->
        <div class="main-content" id="panel">

            <!-- [ topnav ] -->
            <%- include('../../partials/topnav'); %>

                <!-- [ header ] -->
                <div class="header pb-6">
                    <div class="container-fluid">
                        <div class="header-body">
                            <%- include('../../partials/header', {settings: '', page: 'Dashboard' }); %>
                                <!-- [ card stats ] -->
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card card-stats">
                                            <!-- [ card - total approved ] -->
                                            <div class="card-body border-thick rounded">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5 class="card-title text-uppercase text-muted mb-0">Total approved</h5>
                                                        <span class="h2 font-weight-bold mb-0">357</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                                            <i class="ni ni-check-bold"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card card-stats">
                                            <!-- [ card - awating approval ] -->
                                            <div class="card-body border-thick rounded">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5 class="card-title text-uppercase text-muted mb-0">Awating Approval</h5>
                                                        <span class="h2 font-weight-bold mb-0">14</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                                            <i class="ni ni-paper-diploma"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- [ page content ] -->
                <div class="container-fluid mt--6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card border-thick">
                                <div class="card-header bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                                            <h5 class="h3 mb-0">Total Invoices / Months</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- [ chart ] -->
                                    <div class="chart">
                                        <canvas id="chart-bars" class="chart-canvas"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ footer ] -->
                    <%- include('../../partials/footer'); %>
                </div>
        </div>
        <!-- [ core scripts ] -->
        <%- include('../../partials/scripts'); %>

            <!-- [ optional JS ] -->
            <script src="/javascripts/vendor/chart.js/dist/Chart.min.js"></script>
            <script src="/javascripts/vendor/chart.js/dist/Chart.extension.js"></script>

</body>

</html>